.experiencia .subtitulo {
  color: #000000; 
}

.experiencia {
  background: #141414;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #ccc;
}

.experiencia-texto strong {
  color: white;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #090909;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  border: solid 1px #000000;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b629f8, #800add);
  position: absolute;
  top: 20px;
  left: -1.5px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #e0e0e0;
  font-size: .875rem;
  text-align: right;
  width: 80px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: #f0f0f0;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #e0e0e0;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #141414;
  padding: 5px 10px;
  cursor: default;
  color: #e0e0e0;
  border: solid 1px #000000;
}

.empresa-habilidades li:hover {
  background: linear-gradient(135deg,#b629f8, #800add);
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: white;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .empresa-ano::before {
    content: 'Ano: ';
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  span.empresa-titulo{
    color: #525252;
  }
}