.footer {
  background: white;
}

.container{
  padding: 120px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px 300px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #141414;
}

.footer-contato li {
  font-size: 1.5rem;
  line-height: 1.1;
  color: #141414;
  margin-bottom: 20px;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #141414;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}